@model studentModel
@{
    ViewData["Title"] = "StudentDetail";
}

<h1>StudentDetail</h1>
<table>
    <thead>
        <tr>
            <th>Roll</th>
            <th>NAme</th>
        </tr>
    </thead>
    <tr>
        <td>
            @Model.RollNo
        </td>
    </tr>
</table>
