@model WebApplication1.Models.NumberModel

@{
    ViewData["Title"] = "AddTwoNumbers";
}

<h1>AddTwoNumbers</h1>

<h4>NumberModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddTwoNumbers" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="firstNo" class="control-label"></label>
                <input asp-for="firstNo" class="form-control" />
                <span asp-validation-for="firstNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="secondNo" class="control-label"></label>
                <input asp-for="secondNo" class="form-control" />
                <span asp-validation-for="secondNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Result" class="control-label"></label>
                <h1>@Model.Result</h1> 
                <span asp-validation-for="Result" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

