@{
    ViewData["Title"] = "SomeAim";
}

<div class="text-center">
    <h3>About Me</h3>
    <p class="text-grey">My Introduction</p>
</div>
<div class="main-content">
    <div class="about-content">
        <div class="about-text">
            <p>Hi I'm Samyam Adhikari. I'm a Computer Science and IT student currently in my 6th semester of my bachelor's program. I'm currently learning full stack web developement.</p>
            <div class="about-flex text-center">
                <div>
                    <h2>05+ </h2>
                    <p>Years <br /> Experience</p>
                </div>
                <div>
                    <h2>10+ </h2>
                    <p>Completed <br /> Projects</p>
                </div>
                <div>
                    <h2>01+ </h2>
                    <p>Companies <br /> Worked</p>
                </div>
            </div>
            <div class="about-btn"><a href="/res/Samyam.pdf" download="Samyam.pdf" class="btn btn-secondary-custom">Download Resume</a></div>
        </div>

        <div>
            <img src="/Img/about-photo.png" alt="Samyam ko arko ramro photo" />
        </div>
    </div>
</div>



