@{
    ViewData["Title"] = "SomeAim";
}


<div class="container">
    <div class="text-center">
        <h3>Contact Me</h3>
        <p class="text-grey">Get in Touch</p>
    </div>


    <div class="contact-me">

        <div class="contact-list">
            <div class="contact-list-flex">
                <div class="icons"><i class="fa-solid fa-phone"></i></div>
                <div class="content">
                    <h6>Call me</h6>
                    <p class="text-grey">+977-9866202135</p>
                </div>
            </div>

            <div class="contact-list-flex">
                <div class="icons"> <i class="fa-solid fa-envelope"></i></div>
                <div class="content">
                    <h6>Email</h6>
                    <p class="text-grey">someaim1@gmail.com</p>
                </div>
            </div>

            <div class="contact-list-flex">
                <div class="icons"><i class="fa-solid fa-location-dot"></i></div>
                <div class="content">
                    <h6>Location</h6>
                    <p class="text-grey">Balkumari, Lalitpur</p>
                </div>
            </div>

        </div>
        <div class="contact-form">
            <form>
                <ul class="contact-input">
                    <li>  <input type="text" placeholder="Name" name="userName" /> </li>
                    <li>  <input type="email" placeholder="Email" name="userEmail" />  </li>
                    <li>  <input type="text" placeholder="Project" name="project" class="block-input" />  </li>
                    <li>  <textarea placeholder="Message" class="block-input"></textarea>  </li>
                    <li class="submit-btn"> <input type="submit" value="Submit" /></li>
                </ul>

            </form>
        </div>
    </div>
</div>

