@{
    ViewData["Title"] = "SomeAim";
}

<div class= "hero">
    <div>
        <h2>Hi, <br />I'm <span class="name">Samyam, </span> <br />A Web Developer</h2>
    <button class="btn">Hire Now!</button>
    </div>
    <div class= "vector-img">
        <img src="/Img/someaimzzz.png" alt="Hancy 3d Model of Samyam" />
    </div>
</div>

