@{
    ViewData["Title"] = "SomeAim";
}

<div class= "hero">
    <div>
        <h2>Hi, <br />I'm <span class="name">Samyam, </span> <br />A Web Developer</h2>
        <a class="btn btn-primary-custom" asp-area="" asp-controller="Home" asp-action="Contact">Hire Now!</a>
    </div>
    <div class= "vector-img">
        <img src="/Img/someaimzzz.png" alt="Hancy 3d Model of Samyam" />
    </div>
</div>

