@{
    ViewData["Title"] = "SomeAim";
}
<div class="text-center">
    <h3>Skills</h3>
    <p class="text-grey">My Skills</p>
</div>

<div class="skills">
    <div class="technical-skills">
        <h4 class="underline">Technical Skills</h4>
        <div class="skill-box">
            <span class="title">HTML</span>
            <div class="icons"><i class="fa-brands fa-html5"></i></div>
            <div class="skill-bar">
                <span class="skill-per html">
                    <span class="tooltip-custom">90%</span>
                </span>
            </div>
        </div>
        <div class="skill-box">
            <span class="title">CSS</span>
            <div class="icons"><i class="fa-brands fa-css3-alt"></i></div>
            <div class="skill-bar">
                <span class="skill-per css">
                    <span class="tooltip-custom">70%</span>
                </span>
            </div>
        </div>
        <div class="skill-box">
            <span class="title">JavaScript</span>
            <div class="icons"><i class="fa-brands fa-square-js"></i></div>
            <div class="skill-bar">
                <span class="skill-per javascript">
                    <span class="tooltip-custom">60%</span>
                </span>
            </div>
        </div>
        <div class="skill-box">
            <span class="title">React JS</span>
            <div class="icons"><i class="fa-brands fa-react"></i></div>
            <div class="skill-bar">
                <span class="skill-per nodejs">
                    <span class="tooltip-custom">50%</span>
                </span>
            </div>
        </div>
    </div>

    <div class="other-skills">
        <h4 class="underline">Professional Skills</h4>
        <div class="other-skill-grid">
            <!-- Progress Bar 1 -->
            <div class="progress-bar-circular">
                <div class="circular-progress">
                    <span class="progress-value">0%</span>
                </div>
                <p class="other-skill-name">Creativity</p>
            </div>

            <!-- Progress Bar 2 -->
            <div class="progress-bar-circular">
                <div class="circular-progress">
                    <span class="progress-value">0%</span>
                </div>
                <p class="other-skill-name">Communication</p>
            </div>

            <!-- Progress Bar 3 -->
            <div class="progress-bar-circular">
                <div class="circular-progress">
                    <span class="progress-value">0%</span>
                </div>
                <p class="other-skill-name">Problem Solving</p>
            </div>

            <!-- Progress Bar 4 -->
            <div class="progress-bar-circular">
                <div class="circular-progress">
                    <span class="progress-value">0%</span>
                </div>
                <p class="other-skill-name">Teamwork</p>
            </div>

            <!-- Progress Bar 5 -->
            <div class="progress-bar-circular">
                <div class="circular-progress">
                    <span class="progress-value">0%</span>
                </div>
                <p class="other-skill-name">Adaptability</p>
            </div>

            <!-- Progress Bar 5 -->
            <div class="progress-bar-circular">
                <div class="circular-progress">
                    <span class="progress-value">0%</span>
                </div>
                <p class="other-skill-name">Research</p>
            </div>
        </div>
       
    </div>

</div>
