@{
    ViewData["Title"] = "Someaim";
}
<div class="container">
    <div class="privacy-title text-center">
        <h2>Privacy</h2>
        <p class=" text-grey">Privacy Policy for @ViewData["title"]'s Portfolio Website</p>
    </div>

    <h3>Information Collection and Use</h3>
    <p>
        While using our website, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to your name, email address, and phone number ("Personal Information").
    </p>


    <h3>Communications</h3>
    <p>
        We may use your Personal Information to contact you with newsletters, marketing, or promotional materials.
    </p>


    <h3>Cookies</h3>
    <p>
        Cookies are files with a small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a website and stored on your computer's hard drive.

        Like many sites, we use "cookies" to collect information. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our website.
    </p>

    <h3>Security</h3>
    <p>The security of your Personal Information is important to us, but remember that no method of transmission over the Internet or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.</p>

    <h3>Changes to This Privacy Policy</h3>
    <p>
        This Privacy Policy is effective as of 12th March 2024 and will remain in effect except concerning any changes in its provisions in the future, which will be in effect immediately after being posted on this page.

        We reserve the right to update or change our Privacy Policy at any time, and you should check this Privacy Policy periodically. Your continued use of the Service after we post any modifications to the Privacy Policy on this page will constitute your acknowledgment of the modifications and your consent to abide and be bound by the modified Privacy Policy.

        If we make any material changes to this Privacy Policy, we will notify you either through the email address you have provided us or by placing a prominent notice on our website.
    </p>

    <h3>Contact Us</h3>
    <p>If you have any questions about this Privacy Policy, please contact us at: someaim1@gmail.com</p>
</div>